<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<h2>Comments:</h2>
<%= render @article.comments %>


<h2>Add a comment:</h2>
<%= render 'comments/form' %>



<%= link_to 'Edit article', edit_article_path(@article) %>
<%= link_to 'Go to articles', articles_path %>
<%= link_to 'Delete article', article_path(@article), data: {
	turbo_method: :delete,
	turbo_confirm: "Are you sure, you want to DELETE this article?"
} %>